.side-bar
  .user-name
    .top-items
      .name
        = current_user.name
      .icons
        -# = link_to "#", class: "icons__btn icons__btn--edit" do
        -#   = icon('fas', 'cog', class: "icons__btn--icon")
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: "icons__btn")
        = link_to "#", class: "icons__btn" do
          = icon('fas', 'edit', class: "icons__btn")
  .groups
    .groups-list
      %p.groups-name
        アイウエオグループ
      %p.groups-message
        さしすせそ
    .groups-list
      %p.groups-name
        アイウエオグループ
      %p.groups-message
        さしすせそ
    .groups-list
      %p.groups-name
        アイウエオグループ
      %p.groups-message
        さしすせそ
    .groups-list
      %p.groups-name
        アイウエオグループ
      %p.groups-message
        さしすせそ
    .groups-list
      %p.groups-name
        アイウエオグループ
      %p.groups-message
        さしすせそ
    